{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <!--cart start-->
    <div class="row mt-5">
        <div class="col-md-9">
            <h5 class="bg-danger text-white p-2">Customer Details</h5>
            {% for x in data %}
            {% if forloop.counter == 1 %}
            <p><strong>Name:</strong>&nbsp;&nbsp;{{x.uid.username}}</p>
            <p><strong>Mobile:</strong>&nbsp;&nbsp;9999999999</p>
            <p><strong>Email:</strong>&nbsp;&nbsp;{{x.uid.email}}</p>
            {% endif %}
            {% endfor %}
            <h5 class="bg-danger text-white p-2">Product Details</h5>
            {% for x in data %}
            <div class="row mt-3"><!--only for product details start-->
                <div class="col-md-6">
                    <img src="{{x.pid.pimage.url}}" height="250px" class="card-img-top" alt="...">
                </div>
                <div class="col-md-6">
                    <p><strong>Product Name: &nbsp;&nbsp;&nbsp;&nbsp; </strong>{{x.pid.name}}</p>
                    <p><strong>Price: </strong>&nbsp;&nbsp;&nbsp;&nbsp; Rs.{{x.pid.price}}</p>
                    {% if x.pid.cat == 1 %}
                    <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Mobile</p>
                    {% elif x.pid.cat == 2 %}
                    <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Shoes</p>
                    {% else %}
                    <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Clothes</p>
                    {% endif %}
                    <p><strong>Product Description:</strong> &nbsp;&nbsp;&nbsp;&nbsp; {{x.pid.pdetails}}</p>
                    <p>
                        <strong>QTY:</strong>
                        <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                        <input type="number" value="{{x.qty}}">
                        <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
                    </p>
                    <a href="/remove/{{x.id}}" class="btn btn-danger">Remove</a>
                </div>
            </div><!--only for product details end-->
            {% endfor %}
        </div><!--customer and product details end-->
        <div class="col-md-3">
            <h5 class="bg-danger text-white p-2">Total Amount</h5>
            <p><strong>Total({{n}} items):</strong>Rs.{{total}}</p><hr>
            <p><strong>Total Amount:</strong>Rs. {{total}}</p>
            <a href="/placeorder" class="btn btn-danger">Place Order</a>
        </div><!--Total amount section end-->
    </div>
    <!---cart end-->
{% endblock 'main' %}