{% extends 'base.html' %}
{% block 'main' %}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
            
            <form action="/submit" method="POST" class="shadow rounded formalign">
                <h4 class="text-center mt-5">Contact  Us</h4>
                <div class="form-group m-3">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter first name">

                  </div>
                  <div class="form-group m-3">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" aria-describedby="emailHelp" placeholder="Enter last name">

                  </div>
                <div class="form-group m-3">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@gmail.com">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group m-3">
                    <label for="msg">Message</label>
                    <textarea class="form-control" id="msg" rows="3">Enter your message here!!!</textarea>
                  </div>
               
                <button type="submit" class="btn btn-danger m-3">Submit</button>
              </form>
        </div>
    </div>
</div>
{% endblock 'main' %}