{% load static %}
<!--footer start-->

<div class="row mt-3 bg-light">
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd floor,landmark building<br>
      Near FC Road<br>
      Shivaji Nagar -Pune <br><br>
      <p>
        <i class="bi bi-telephone-fill text-danger"></i>:9999999999
      </p>
      <p>
        <i class="bi bi-envelope-fill text-danger"></i>:anonymous@gmail.com
      </p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="/" class="anchor text-danger">Home</a></p>
      <p><a href="/about" class="anchor text-danger">About Us</a></p>
      <p><a href="/viewcart" class="anchor text-danger">Cart</a></p>
      <p><a href="/contact" class="anchor text-danger">Contact Us</a></p>
    </div>
    <div class="col-md-4">
      <h5>Contact Us</h5>
      <hr>
      <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-twitter text-danger"></i></a></h5>
      <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin text-danger"></i></a></h5>
    </div>
  </div>
</div><!--container end-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>