{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
 <!--main starts-->
 <div class="row mt-3">
    <div class="col-md-4 bg-light">
      <h5>Filter by Category</h5>
      <hr>
      <p><a href="/catfilter/1" class="anchor">By Mobile</a></p>
      <p><a href="/catfilter/2" class="anchor">By Shoes</a></p>
      <p><a href="/catfilter/3" class="anchor">By Clothes</a></p>

      <h5>Filter by Price Range</h5><hr>
      <form action="/range">
      <div class="mb-3">
        <label for="Input1" class="form-label">Minimum Value:</label>
        <input type="number" name="min" class="form-control" id="Input1" placeholder="Minimum Value">
      </div><!--min value end-->
      <div class="mb-3">
        <label for="Input2" class="form-label">Maximum Value:</label>
        <input type="number" name="max" class="form-control" id="Input2" placeholder="Maximum Value">
      </div><!--max value end-->
      <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="submit"/>
      </div><!--submit button ends-->
    </form>
    <h5>Sort By Price </h5><hr>
      <p><a href="/sort/0" class="anchor">Low to High</a></p>
      <p><a href="/sort/1" class="anchor">High to Low</a></p>
    </div><!-- filter section ends-->
    <div class="col-md-8">
      <div class="row">
        {% for x in products %}
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 100%">
            <img src="{{x.pimage.url}}"  height="200px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text">Rs.{{x.price}}</p>
              {% if x.cat == 1 %}
              <p class="card-text">Mobile</p>
              {% elif x.cat == 2 %}
              <p class="card-text">Shoes</p>
              {% else %}
              <p class="card-text">Clothes</p>
              {% endif %}
              <a href="/pdetails/{{x.id}}" class="btn btn-danger">See Details</a>
            </div>
          </div>
        </div><!--product1 end-->
        {% endfor %}
      </div>
    </div><!--products section ends-->
  </div><!--product and filter section ends-->
  <!--main ends-->
{% endblock 'main' %}