{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!--main content start-->
<div class="row mt-5">
    {% for x in products %}
    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="200px" height="350px" class="card-img-top" alt="...">
          
    </div>
    <div class="col-md-6">
        <p><strong>Product Name: &nbsp;&nbsp;&nbsp;&nbsp; </strong>{{x.name}}</p>
        <p><strong>Price: </strong>&nbsp;&nbsp;&nbsp;&nbsp; Rs.{{x.price}}</p>
        {% if x.cat == 1 %}
        <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Mobile</p>
        {% elif x.cat == 2 %}
        <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Shoes</p>
        {% else %}
        <p><strong>Category:</strong> &nbsp;&nbsp;&nbsp;&nbsp;Clothes</p>
        {% endif %}
        <p><strong>Product Description:</strong> &nbsp;&nbsp;&nbsp;&nbsp; {{x.pdetails}}</p>
        <a href="/addtocart/{{x.id}}" class="btn btn-danger">Add to Cart</a>&nbsp;
        <a href="/viewcart" class="btn btn-danger">View Cart</a>&nbsp;
        <a href="/" class="btn btn-danger">Shop More</a>&nbsp;
        <br>
        {% if success %}
        <div class="alert alert-success">
            {{success}}
        </div>
        {% endif %}
        {% if errmsg %}
        <div class="alert alert-danger">
            {{errmsg}}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<!---main content end-->

{% endblock 'main' %}