{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 shadow mt-3 p-4 mx-auto">
        <h2 class="text-center">Registration</h2>
        {% if errmsg %}
        <div class="alert alert-danger">
          {{errmsg}}
        </div>
        {% endif %}
        <form method="POST" action="/register">
          {% csrf_token %}
          <div class="mb-3">
            <label for="input1" class="form-label"><strong>Username</strong></label>
            <input type="email" name="uname" class="form-control" id="input1" placeholder="Enter Username">
          </div><!--Username ends-->
          <div class="mb-3">
            <label for="input2" class="form-label"><strong>Password</strong></label>
            <input type="password" name="upass" class="form-control" id="input2" placeholder="Enter Password">
          </div><!--Password ends-->
          <div class="mb-3">
            <label for="input3" class="form-label"><strong>Confirm Password</strong></label>
            <input type="password" name="ucpass" class="form-control" id="input3" placeholder="Enter Password Again">
          </div><!--confirm password ends-->
          <div class="mb-3">
            <input type="submit" class="btn btn-danger" value="Register" />
            already User? <a href="/login" style="text-decoration: none;">Log In</a>
          </div>
          {% if success %}
          <div class="alert alert-success">
            {{success}}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>


  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>

</html>